body {
	background: black;
	color: white;
}
.post {
	border: solid white 2px;
	/* display: block; laat het object los van HTML voor herpositioneren in CSS */
	display: block;
	width: 600px;
	/* "margin" staat voor ruimte boven en onder tenzij anders aangegeven */
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

/*Tekst vakken formulieren*/
input [type=text] {

}

/*Password vakken formulieren*/
input [type=password]{
	
}

/*Submit buttons formulieren*/
input [type=submit]{

}
