@font-face{
	font-family: 'cassandra';
	src: url('Cassandra.ttf');
}

html{
	cursor: url('Cursor.png'), auto;
	font-family: "Helvetica", sans-serif;   
}

body {
	background: #313638;
	color: white;

}
.header{
	display: block;
	border-style: solid;
	margin: 0px;
	width: auto;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	padding: 3px;
	color: black;
	background-color: black;
}

.header img{
	float: left;
	cursor: url('Cursor.png'), auto;
}
.header img:hover {
	opacity: 0.8;
}

.buttons button{
	float: right;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 5px;
	width: 150px;
	color: black;
	background-color: #ee2375;
	border:none;
	font-size: 16px;
	cursor: url('Cursor.png'), auto;
}

.buttons button:hover {
	background-color: #f6832a; 
}
.post img{
	width: 600px; 
    height: auto; 
}
.post {
	border: solid white 2px;
	/* display: block; laat het object los van HTML voor herpositioneren in CSS */
	display: block;
	width: 600px;
	/* "margin" staat voor ruimte boven en onder tenzij anders aangegeven */
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	background-color: #ee2375;
	font-family: 'cassandra';
	font-size: 40px;
}
.upload {
	text-align: center;
	color: black;
	display: block;
	background-image: linear-gradient(#ee2375, #f6832a);
	width: 500px;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
}
.aanmelden{
	text-align: center;
	color: black;
	display: block;
	background-image: linear-gradient(#ee2375, #f6832a);
	width: 500px;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	padding-left: 70px;
	padding-right: 70px;
	border:none;
}
.inlog {
	text-align: center;
	color: black;
	display: block;
	background-image: linear-gradient(#ee2375, #f6832a);
	width: 500px;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}
.account{
	text-align: center;
	color: black;
	display: block;
	background-image: linear-gradient(#ee2375, #f6832a);
	width: 500px;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	
}
.account h4{
	font-family: cassandra;
	font-size:30px;
}

input[type=submit]{
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 5px;
	width: 150px;
	color: black;
	background-color: #ee2375;
	border:solid #ee2375 1px;
	font-size: 16px;
	cursor: url('Cursor.png'), auto;
}

input[type=submit]:hover{
	background-color: #f6832a;
	border:solid #ee2375 1px;
}
input[type=reset]{
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 5px;
	width: 50px;
	color: black;
	background-color: #ee2375;
	border:solid #ee2375 1px;
	font-size: 16px;
	cursor: url('Cursor.png'), auto;
}
input[type=reset]:hover{
	background-color: #f6832a;
	border:solid #ee2375 1px;

.error {
	color: #FF0000;
}


p {
	font-family: "Helvetica", sans-serif;   
	font-size: 18px;
}
